#-------  Config file defining paths and stuff -------
# absolute path to the folder with the solver
SOLVER_PATH=C:/cvc4/
# the name of the solver
SOLVER_NAME=cvc4.exe
# absolute path where to save the smt2 file
SMT2_PATH=C:/cvc4/
# name of the smt2 file to save in above path
DEFAULT_FILE_NAME=foo.smt2